/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--regular);
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
  gap: 100px;
  margin-top: 100px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  inline-size: var(--inline-size-main);
  block-size: clamp(327px, calc(312.563px + 3.85vw), 368px);
}

.header__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: var(--accent-font), monospace;
  gap: 20px;
}

.header__main-title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__sub-title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.card {
  inline-size: var(--inline-size-main);
  background-color: #fff;
  border: 2px solid #000;
}

.card__title {
  font-size: 18px;
  font-variation-settings: "wght" 715;
  padding: 4px 10px;
  border-block-end: 2px solid #000;
}

.card__image {
  position: relative;
  border-block-end: 2px solid #000;
  aspect-ratio: 1 / 1;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-height: 371px;
  min-width: 371px;
}

.brightness__filter {
  filter: brightness(200%);
}

.contrast__filter {
  filter: contrast(30%);
}

.blur__filter {
  filter: blur(0.4rem);
}

.sepia__filter {
  filter: sepia(50%);
}

.grayscale-blur__filter {
  filter: grayscale(40%) blur(0.2rem);
}

.saturate__filter {
  filter: saturate(150%);
}

.hue-rotate__filter {
  filter: hue-rotate(90deg);
}

.card__image-label {
  font-size: 14px;
  position: absolute;
  right: 23px;
  top: 25px;
  color: #000;
  font-family: var(--accent-font), monospace;
  text-shadow: var(--text-shadow);
  mix-blend-mode: hard-light;
  opacity: 50%;
}

.card__text {
  display: flex;
  flex-direction: column;
  line-height: 21px;
  gap: 25px;
  margin: 28px 25px 25px 25px;
  font-size: 18px;
  font-variation-settings: "wght" var(--regular);
}

.card__button {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 25px 25px 25px 25px;
  gap: 7px;
}
.like-icon {
  flex-shrink: 0;
  block-size: 36px;
}

.card__icon-button:focus {
  outline:none;
}
.card__icon-button:focus-visible {
  border-color: #000;
}

.button {
  position: relative;
  text-align: center;
  background-color: #fff;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  border: 2px solid #000;
  user-select: none;
}

.button:hover {
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px #000;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #000;
  translate: -100% 0%;
  transition: translate 0.5s ease-in-out;
}

.button:hover::before {
  translate: 0% 0%;
}

.card__like-button {
  min-inline-size: 130px;
  padding: 8px 0;
  text-align: center;
  height: 38px;
}

.button__text {
  position: relative;
  color: #fff;
  font-family: var(--accent-font), monospace;
  font-size: 14px;
  mix-blend-mode: difference;
}

.card__icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  border: 2px solid transparent;
  transition: border 0.3s ease;
  inline-size: 38px;
  block-size: 38px;
}

.save__button {
  margin-bottom: 50px;
  min-inline-size: 335px;
  min-block-size: 55px;
}

.save__button-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.floppy {
  position: relative;
  mix-blend-mode: difference;
}

.push-floppy {
  max-inline-size: 353px;
  padding: 30px;
  border: 2px solid #000;
}

.push-floppy .button__text {
  text-transform: uppercase;
}

.push-floppy::backdrop {
  background-color: #000;
  opacity: 75%;
}

.push-floppy__content {
  display: flex;
  font-weight: 400;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.push-floppy__content-text {
  display: flex;
  align-items: center;
  gap: 20px;
  max-inline-size: 293px;
}

.push-floppy__content-text .floppy {
  min-inline-size: 39px;
  min-block-size: 39px;
}

.push-floppy__content-text .button__text {
  line-height: 150%;
}

.push-floppy__close-button {
  background-color: transparent;
  border: 2px solid #000;
  min-inline-size: 291px;
  min-block-size: 38px;
}

@supports ((text-stroke: 1px #fff) or (--webkit-text-stroke: 1px #fff)) {
  .card__image-label {
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
    text-shadow: none;
  }
}

@media (width <= 375px) {
  .save__button-content {
    flex-direction: column;
  }
  .save__button {
    margin-bottom: 50px;
    min-inline-size: 306px;
    min-block-size: 84px;
  }
  .card__text {
    margin: 26px 25px 25px 25px;
  }
  .push-floppy {
    padding: 30px 40px;
  }
  .floppy {
    width: 28px;
    height: 28px;
  }
  .push-floppy__content-text {
    max-inline-size: 261px;
  }
  .push-floppy__close-button {
    min-inline-size: 261px;
  }
}
