/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font:'Inter-Variable';
  --accent-font:'PressStart2P';
  --text-shadow: -1px -1px #fff, 1px -1px #fff, -1px 1px #fff, 1px 1px #fff;
  --contour-color:#000;
  --animation-fill-color: #ff0000;
  --background-gradient: 
  repeating-linear-gradient(
    to right,
    rgba(211, 211, 211),
    rgba(211, 211, 211) 2px,
    rgba(211, 211, 211, 0) 2px,
    rgba(211, 211, 211, 0) 4px
  ),
  repeating-linear-gradient(
    to bottom,
   rgba(211, 211, 211),
   rgba(211, 211, 211) 2px,
   rgba(211, 211, 211, 0) 2px,
   rgba(211, 211, 211, 0) 4px
  ),
  repeating-linear-gradient(
    to bottom,
    rgba(231, 231, 231),
    rgba(26, 26, 26)
  );
  --inline-size-main: clamp(375px, calc(260px + 30vw), 700px);
  --bold: 715;
  --regular: 410;
}